@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Rubik+Vinyl&display=swap');
.menu1 img{
    height: 80px;
    margin-left: 5px;
}
.menu1{
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
.menu1 li{
    margin: 20px;
}
.menu1 li a{
    color: black;
    text-decoration: none;

}
.body1{
    height:125vh;
    background-image: url('/image/water.jpeg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

.menu1 *{
    display: inline;
}
div>.palm1{
    color: rosybrown;

    font-family: 'Rubik Vinyl', cursive;
}
.container{
    background-color: aquamarine;
    background-size: 100px;
    margin-left: 30px;
    margin-right: 100px;
}
ul{  
    list-style-type: none;  
    font-weight: bold;  
    font-size: 20px;  
}


h2{
    text-align: center;
}

.parent{
   
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.child1{
    text-align: left;
    
        display: inline-block;
        
        padding: 1rem 1rem;
        vertical-align: middle;
      }
      li{
        line-height: 50px;
      }

 .child2{
    text-align: left;
    display: inline-block;
        
        padding: 1rem 1rem;
        vertical-align: middle;
 }     
